.contacts
  padding-top: 140px
  padding-bottom: 160px
  &-wrap
    display: flex
    justify-content: space-between
  &__block
    width: 50%
    &-left
      margin-right: 55px
    &_title 
      margin-bottom: 55px
      text-align: left!important
    &_subtitle
      width: 511px
      color: #99a3b7
      font-family: Roboto
      font-size: 14px
      font-weight: 700
      line-height: 24px
      text-align: left 
      margin-bottom: 85px
  &__form
    padding: 80px 75px
    border: 1px solid rgba(0, 0, 0, 0.08)
    box-shadow: 6px 10px 13px rgba(18, 31, 54, 0.1)
    &_input
      background-color: #f6f9ff
      margin-bottom: 15px
      width: 416px
      color: #575a5f
      padding: 25px 0 25px 40px
      font-family: Roboto
      font-size: 14px
      font-weight: 700
      line-height: 24px
      outline: none
      border: 1px solid rgba(0, 0, 0, 0.08)
      box-shadow: 6px 10px 13px rgba(18, 31, 54, 0.1)
      &::placeholder
        color: #99a3b7
    &_textarea
      width: 416px
      height: 170px
      background-color: #f6f9ff
      border: 1px solid rgba(0, 0, 0, 0.08)
      box-shadow: 6px 10px 13px rgba(18, 31, 54, 0.1)
      color: #575a5f
      font-family: Roboto
      font-size: 14px
      font-weight: 700
      line-height: 24px
      padding-left: 40px
      padding-top: 25px
      margin-bottom: 40px
      outline: none
      &::placeholder
        color: #99a3b7
    &_button
      padding: 15px 163px
      box-shadow: 6px 10px 13px rgba(18, 31, 54, 0.4)

  
  
.map
  height: 480px

