.contacts
  padding-top: 140px
  padding-bottom: 160px
  &-wrap
    display: flex
    justify-content: space-between
  &__block
    width: 46%
    &-left
      margin-right: 55px
    &_title 
      margin-bottom: 55px
      text-align: left!important
    &_subtitle
      width: 511px
      color: #99a3b7
      font-family: Roboto
      font-size: 14px
      font-weight: 700
      line-height: 24px
      text-align: left 
      margin-bottom: 85px
  &__form
    padding: 80px 50px
    border: none
    box-shadow: 0 10px 13px rgba(18, 31, 54, 0.1)
    &_input
      background-color: #f6f9ff
      margin-bottom: 15px
      width: 416px
      color: #575a5f
      padding: 25px 0 25px 40px
      font-family: Roboto
      font-size: 14px
      font-weight: 700
      line-height: 24px
      outline: none
      border: none
      box-shadow: 0 10px 13px rgba(18, 31, 54, 0.1)
      &::placeholder
        color: #99a3b7
    &_textarea
      width: 416px
      height: 170px
      background-color: #f6f9ff
      border: none
      box-shadow: 0 10px 13px rgba(18, 31, 54, 0.1)
      color: #575a5f
      font-family: Roboto
      font-size: 14px
      font-weight: 700
      line-height: 24px
      padding-left: 40px
      padding-top: 25px
      margin-bottom: 40px
      outline: none
      &::placeholder
        color: #99a3b7
    &_button
      padding: 15px 163px
      box-shadow: 0 10px 13px rgba(18, 31, 54, 0.4)

  
  
.map
  height: 480px
  &__descr
    box-shadow: 0 10px 13px rgba(18, 31, 54, 0.1)
    background-color: #ffffff
    height: 63px
    color: #99a3b7
    font-family: Roboto
    font-size: 15px
    font-weight: 700
    line-height: 24px
    padding: 35px 50px
    margin-bottom: 70px
  &__title
    text-align: left!important
    margin-bottom: 40px
  &__contacts
    display: flex
    justify-content: space-between
    &_block
      &_title
        color: #3e7ef1
        font-family: Roboto
        font-weight: 700
        line-height: 22px
        margin-bottom: 25px
      &_info
        color: #242424
        font-family: Roboto
        font-size: 14px
        font-weight: 600
        line-height: 28px

@media(max-width: 1200px)
  .contacts
    padding-top: 0
    &-wrap
      flex-direction: column-reverse
    &__block
      width: 100%
      &-left
        width: 50%
        margin: 70px auto 0 auto
      &_title
        text-align: center!important
      &_subtitle
        width: 100%
        text-align: center
    &__form
      &_input
        width: 90%
      &_textarea
        width: 90%
      &_button
        width: 100%
        padding: 15px 0
  .map
    &__title
      text-align: center!important
    &__contacts
      justify-content: space-around

@media(max-width: 992px)
  .contacts
    &__block
      &-left
        width: 70%
  
@media(max-width: 768px)
  .contacts
    &__block
      &-left
        width: 80%

@media(max-width: 576px)
  .contacts
    &__block
      &-left
        width: 100%
        margin-top: 40px
      &_title
        font-size: 23px!important
      &_subtitle
        margin-bottom: 20px
    &__form
      padding: 30px 15px
      &_input
        padding: 20px 0 20px 25px
        font-weight: 400  
        line-height: 0
      &_textarea
        padding-left: 25px
        font-weight: 400
        line-height: 0
      &_button
        padding: 25px 0
  .map
    &__title
      font-size: 23px!important
    &__descr
      height: auto
      padding: 20px 10px
      font-weight: 400
    &__contacts
      flex-direction: column
      align-items: center
      &_block
        width: 50%
        margin-bottom: 15px
        &_title
          margin-bottom: 5px

