.headers
  position: relative
  &_wrap
    display: flex
  &_img1
    max-width: 100%
  &_block
    width: 50%
    padding-top: 160px
    &__title
      color: #485168
      margin-bottom: 35px
      font-family: Roboto
      font-size: 43px
      font-weight: 700
      line-height: 48px
    &__description
      width: 446px
      color: #99a3b7
      font-family: Roboto
      font-size: 15px
      font-weight: 700
      line-height: 24px
      margin-bottom: 35px
    &__img1
      width: 930px
      height: 853px
      position: absolute
      top: -78px
      right: 0
      z-index: -1
    &__subtitle
      display: inline-block
      color: #99a3b7
      font-family: Roboto
      font-size: 14px
      font-weight: 700
      line-height: 24px
      &__order
        display: inline-block
        color: #3e7ef1
        font-family: Roboto
        font-size: 14px
        font-weight: 700
        line-height: 24px
        margin-bottom: 90px
    &__img2
      width: 443px
      height: 428px
      position: absolute
      bottom: -245px;
      left: 85px;
      z-index: -1
      

.figure
  &_block
    margin-bottom: 30px

.form
  &_one
    height: 124px
    box-shadow: 0 10px 38px rgba(62, 126, 241, 0.22)
    border-radius: 62px
    background-color: #2acfd0
    background: linear-gradient(-21deg, #3e7ef1 0%, #2acfd0 100%)
  &_wrap
    display: flex
    justify-content: space-between
    align-items: center