.wrap
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 35px

.navbar
  width: 362px
  &_list
    display: flex
    justify-content: space-between
    &__link
      color: #485168
      font-family: Roboto
      font-size: 14px
      font-weight: 700
      line-height: 22px
      &:hover
        color: #3e7ef1
        transition: 0.3s

.contacts-nav
  display: flex
  align-items: center
  &_phone
    margin-right: 30px
    color: #292929
    font-family: Roboto
    font-size: 17px
    font-weight: 700
    line-height: 22px

.button
  //background-color: #3a8beb
  background: linear-gradient(-21deg, #3e7ef1 0%, #2acfd0 100%)
  border: none
  border-radius: 25px
  color: #ffffff
  font-family: Roboto
  font-size: 14px
  font-weight: 700
  line-height: 22px
  padding: 10px 30px
  &:hover
    background: linear-gradient(-21deg, #3e7ef1 30%, #2acfd0 60%);
    cursor: pointer

    
    