.reviews
  background-image: url(../images/img-reviews/reviews-bg.png)
  background-size: cover
  padding-top: 140px
  padding-bottom: 140px
  &__title
    line-height: 32px!important
    margin-bottom: 75px
    &_subtitle
      color: #3e7ef1
.slide
  &-block
    &__img
      margin-right: 50px
    &__reviews
      &_img
        margin-bottom: 55px
      &_description
        margin-bottom: 40px
        color: #7f8ba3
        font-family: Roboto
        font-size: 15px
        font-weight: 700
        line-height: 24px
      &_username
        color: #3e7ef1
        font-family: Roboto
        font-size: 16px
        font-weight: 700
        line-height: 24px
        margin-bottom: 10px
      &_date
        color: #99a3b7
        font-family: Roboto
        font-size: 14px 
        font-weight: 700
        line-height: 24px
  &-wrap
    display: flex
    align-items: center

// .slick-current
//   margin-right: 100px