body
  background-color: #fff
  font-family: 'Roboto Regular', sans-serif

.container
	width: 1200px
	margin: 0 auto

	
@import 'header'
@import 'headers'
@import 'servises'
@import 'about'
@import 'reviews'
@import 'contacts'
@import 'footer'
@import 'modal'
@import 'interface'