body {
  background-color: #fff;
  font-family: 'Roboto Regular', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}

.navbar {
  width: 362px;
}

.navbar_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_list__link {
  color: #485168;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar_list__link:hover {
  letter-spacing: 0.5px;
  color: #3e7ef1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar_list__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #3e7ef1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar_list__link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navbar_list__item {
  position: relative;
}

.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-nav_phone {
  margin-right: 30px;
  color: #292929;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
}

.button {
  background: linear-gradient(-21deg, #3e7ef1 0%, #2acfd0 100%);
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background: linear-gradient(-21deg, #3e7ef1 30%, #2acfd0 60%);
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headers {
  position: relative;
}

.headers_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headers_img1 {
  max-width: 100%;
}

.headers_block {
  width: 50%;
  padding-top: 160px;
}

.headers_block__title {
  color: #485168;
  margin-bottom: 35px;
  font-family: Roboto;
  font-size: 43px;
  font-weight: 700;
  line-height: 48px;
}

.headers_block__description {
  width: 446px;
  color: #99a3b7;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 35px;
}

.headers_block__img1 {
  width: 930px;
  height: 853px;
  position: absolute;
  top: -78px;
  right: 0;
  z-index: -1;
}

.headers_block__subtitle {
  display: inline-block;
  color: #99a3b7;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.headers_block__subtitle__order {
  display: inline-block;
  color: #3e7ef1;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 90px;
}

.headers_block__img2 {
  width: 443px;
  height: 428px;
  position: absolute;
  bottom: -245px;
  left: 85px;
  z-index: -1;
}

.headers-form {
  -webkit-box-shadow: 0 10px 38px rgba(62, 126, 241, 0.22);
          box-shadow: 0 10px 38px rgba(62, 126, 241, 0.22);
  border-radius: 62px;
  background-color: #2acfd0;
  background: linear-gradient(-21deg, #3e7ef1 0%, #2acfd0 100%);
}

.headers-form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 45px;
}

.figure_block {
  margin-bottom: 30px;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__block_img {
  max-width: 28px;
  margin-right: 20px;
}

.form__input {
  background: transparent;
  border-bottom: 2px solid #fff;
  outline: none;
  border-left: none;
  border-top: none;
  border-right: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.form-btn {
  color: #3e7ef1;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  border: 2px solid transparent;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-btn:hover {
  /*background: #2cc7d3* */
  background: linear-gradient(-21deg, #3e7ef1 30%, #2acfd0 60%);
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #ffffff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

input::-webkit-input-placeholder {
  color: #ffffff;
}

input:-ms-input-placeholder {
  color: #ffffff;
}

input::-ms-input-placeholder {
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

.servises {
  padding-top: 200px;
}

.servises__title {
  margin-bottom: 30px;
}

.servises__subtitle {
  color: #7f8ba3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin-bottom: 75px;
}

.servises__btn {
  border: none;
  border-radius: 25px;
  background-color: #e9eef6;
  margin: 60px auto;
  padding: 15px 55px;
  color: #3e7ef1;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.servises__btn:hover {
  background: linear-gradient(-21deg, #3e7ef1 30%, #2acfd0 60%);
  color: #ffffff;
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.slide__item {
  position: relative;
  text-align: center;
  max-width: 260px;
  margin-left: 36px;
  -webkit-box-shadow: 0 10px 38px rgba(18, 31, 54, 0.07);
          box-shadow: 0 10px 38px rgba(18, 31, 54, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

.slide__item::last-child(1) {
  margin-right: 0;
}

.slide__item_img {
  margin: 65px auto 20px auto;
}

.slide__item_title {
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 60px;
}

.slide__item_circle {
  width: 43px;
  height: 43px;
  background-color: #3e7ef1;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
  margin-left: 112px;
  z-index: 1;
}

.slide__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.4;
}

.slick-slide {
  outline: none;
}

.slick-current::before {
  content: '';
  opacity: 0;
}

.about {
  padding-top: 120px;
  padding-bottom: 135px;
}

.about-title {
  margin-bottom: 100px;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.block__item_circle {
  background: #f6f9ff;
  width: 60px;
  height: 60px;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.block__item_text {
  width: 80%;
}

.block__item_title {
  color: #242424;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 15px;
}

.block__item_subtitle {
  color: #242424;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.section-title {
  text-align: center;
  color: #485168;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
}
/*# sourceMappingURL=style.css.map */